@charset "UTF-8";
.section__ancho article, .section__contacto, .section__servicio,
.section__servicio--reverse {
  display: grid;
  justify-content: center;
  align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #2c2c2c;
  font-size: 1rem; }
  @media (min-width: 992px) {
    body {
      font-size: 1.1rem; } }

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #7b796c; }

h1,
h2 {
  margin: 20px 0; }
  @media (min-width: 768px) {
    h1,
    h2 {
      margin: 40px 0 20px 0; } }

h1 {
  font-size: 2rem; }

h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #504f46; }

h5 {
  font-size: 1.15rem; }
  @media (min-width: 992px) {
    h5 {
      font-size: 1.25rem; } }

img {
  max-width: 100%; }

section p {
  padding: 10px 0; }

section h1 {
  margin-bottom: 5rem; }

body {
  min-height: 200vh; }

.center--text {
  text-align: center; }

/*HEADERS*********/
.hero__servicios,
.hero__contacto,
.hero__proyecto,
.hero__estudio,
.hero__tienda,
.hero__blog,
.hero__map {
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end; }
  @media (min-width: 768px) {
    .hero__servicios,
    .hero__contacto,
    .hero__proyecto,
    .hero__estudio,
    .hero__tienda,
    .hero__blog,
    .hero__map {
      align-items: center;
      justify-content: space-around; } }

.hero__map {
  min-height: 200px;
  background-image: url(../img/placeholder_16.9_2.jpg); }

.hero__servicios {
  background-image: url(../img/placeholder_16.9_2.jpg); }

.hero__contacto {
  background-image: url(../img/placeholder_16.9_4.jpg); }

.hero__proyecto {
  background-image: url(../img/placeholder_16.9_3.jpg); }

.hero__estudio {
  background-image: url(../img/placeholder_16.9_0.jpg); }

.hero__tienda {
  background-image: url(../img/placeholder_16.9_11.jpg); }

.hero__blog {
  background-image: url(../img/placeholder_16.9_10.jpg); }

main {
  padding: 50px; }

@media (min-width: 768px) {
  .header__content {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

/********MOBIL BP <576px ********/
.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 150px;
  padding: 30px; }
  @media (min-width: 768px) {
    .header__text {
      display: grid;
      grid-template-rows: 1fr 1fr;
      margin-left: 10%;
      margin-right: 10%;
      grid-column-start: 2; } }

.logo {
  display: none; }
  @media (min-width: 768px) {
    .logo {
      width: 70px; } }
  @media (min-width: 992px) {
    .logo {
      width: 100px; } }

.logoham {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 16vh;
  margin-left: 1em; }
  @media (min-width: 768px) {
    .logoham {
      display: none; } }

@media (min-width: 768px) {
  .logoLink {
    display: none; } }

@media (min-width: 768px) {
  .nav .logo {
    padding: 0;
    display: block; } }

.menu {
  display: block;
  height: 16vh;
  background-color: rgba(95, 96, 82, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 999; }
  @media (min-width: 768px) {
    .menu {
      display: flex;
      justify-content: space-between;
      background-color: rgba(95, 96, 82, 0.8);
      align-items: center;
      padding-right: 50px;
      height: 70px;
      flex-wrap: wrap; } }
  @media (min-width: 992px) {
    .menu {
      height: 100px; } }

.menu label {
  box-sizing: border-box;
  display: inline-block;
  width: 16vh;
  height: 16vh;
  line-height: 16vh;
  color: #fff;
  font-weight: bold;
  text-align: center;
  user-select: none; }

/* hover hamburguesa*/
.menu input:checked ~ nav,
.menu label,
.menu input:checked ~ .nav__social {
  display: block; }
  @media (min-width: 768px) {
    .menu input:checked ~ nav,
    .menu label,
    .menu input:checked ~ .nav__social {
      display: none; } }

.menu label:hover {
  background: grey; }

.menu input:checked ~ label {
  background: #7b796c; }

input#hambur {
  display: none; }

.nav,
.nav__social {
  display: none; }
  @media (min-width: 768px) {
    .nav,
    .nav__social {
      display: flex; } }
  .nav ul,
  .nav__social ul {
    display: block;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 0; }
    @media (min-width: 768px) {
      .nav ul,
      .nav__social ul {
        display: flex; } }
    .nav ul li,
    .nav__social ul li {
      display: block;
      background-color: #7b796c;
      margin: 0;
      padding: 10px;
      list-style: none;
      border-bottom: 1px solid grey;
      color: #fff; }
      @media (min-width: 768px) {
        .nav ul li,
        .nav__social ul li {
          display: flex;
          padding: 0;
          background: none;
          border: none; } }
      .nav ul li a,
      .nav__social ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-size: 0.8rem;
        text-transform: uppercase;
        justify-content: center;
        padding: 10px; }
        @media (min-width: 768px) {
          .nav ul li a,
          .nav__social ul li a {
            display: flex;
            font-size: 0.9rem;
            font-weight: 400;
            height: 70px;
            align-items: center;
            transition: background-color 1s, border-bottom 1s; } }
        @media (min-width: 992px) {
          .nav ul li a,
          .nav__social ul li a {
            font-size: 1rem;
            font-weight: 400;
            height: 100px; } }
        .nav ul li a:hover,
        .nav__social ul li a:hover {
          color: #f4f3ee;
          font-weight: 400;
          height: auto;
          align-items: center; }
          @media (min-width: 768px) {
            .nav ul li a:hover,
            .nav__social ul li a:hover {
              background: #f0f0f0;
              color: #7b796c;
              height: 70px;
              align-items: center;
              border-bottom: 5px solid #504f46; } }
          @media (min-width: 992px) {
            .nav ul li a:hover,
            .nav__social ul li a:hover {
              height: 100px; } }
      .nav ul li .activem,
      .nav__social ul li .activem {
        color: #f4f3ee; }
        @media (min-width: 768px) {
          .nav ul li .activem,
          .nav__social ul li .activem {
            background: rgba(240, 240, 240, 0.75);
            color: #7b796c;
            border-bottom: 5px solid #504f46; } }

/*hover items hamburguesa*/
.menu .nav li:hover {
  background: linear-gradient(to left, #7b796c, #6f6e63, #7b796c); }

.section__2col {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }
  @media (min-width: 768px) {
    .section__2col {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-gap: 40px; } }

.section__2col article {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .section__2col article {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-content: space-between;
      flex-wrap: wrap; } }

.columna2 {
  flex-direction: column;
  padding: 20px 0;
  justify-content: center; }
  @media (min-width: 768px) {
    .columna2 {
      flex-direction: column;
      padding: 20px;
      justify-content: center; } }
  .columna2 h3 {
    margin-bottom: 15px; }

/*seccion ancho completo*/
.section__ancho {
  background-color: #e8e8e8;
  padding: 50px 50px;
  margin: 50px -50px; }
  .section__ancho article {
    grid-template-columns: 1fr; }
    @media (min-width: 768px) {
      .section__ancho article {
        grid-template-columns: 1fr 1fr; } }

.section__contacto {
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    .section__contacto {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px; } }

.bx {
  color: #fff;
  padding: 0 5px; }

/*un guiño en Aqua para Flor*/
.bx:hover {
  color: aqua; }

/*BOTONES*/
button {
  border: none; }

.boton,
a.boton {
  background-color: #7b796c;
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 0.8rem;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.8s; }
  @media (min-width: 768px) {
    .boton,
    a.boton {
      padding: 5px 10px;
      font-size: 0.9rem;
      font-weight: 600; } }

.boton:hover {
  background-color: #504f46;
  color: #fff; }

.section__servicio--boton {
  margin-top: 20px;
  margin-right: 20px; }

/*seccion SERVICIOS*/
.section__servicio,
.section__servicio--reverse {
  grid-template-columns: 1fr; }
  @media (min-width: 768px) {
    .section__servicio,
    .section__servicio--reverse {
      grid-template-columns: 1fr 1fr; } }

@media (min-width: 768px) {
  .section__servicio--reverse .columna2 {
    order: 1; }
  .section__servicio--reverse .columna1 {
    order: 2; }
  .section__servicio img,
  .section__servicio--reverse img {
    object-fit: cover; } }

/*seccion PROYECTOS- PRODUCTOS*/
.section__proyectos,
.section__productos {
  display: block; }
  @media (min-width: 768px) {
    .section__proyectos,
    .section__productos {
      display: flex;
      flex-wrap: wrap; } }

/*PROYECTOS FOTOS*/
.filtros {
  margin: 2.5rem 0; }

/*FORMULARIO*/
.columna2--form {
  align-items: flex-start;
  font-size: 0.9rem;
  line-height: auto; }

.columna2--form .inputext {
  display: block;
  margin: 10px 0;
  padding: 5px;
  width: 100%; }

input::placeholder {
  color: #d0cfc9; }

.columna2--form .inputradio {
  display: inline;
  width: auto; }

label {
  display: block;
  line-height: 25px; }

.submit {
  padding: 5px 10px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  background-color: #7b796c; }

/*FOOTER*/
footer {
  background-color: #e8e8e8;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    footer {
      justify-content: space-between; } }
  footer p {
    margin: 0;
    font-size: 0.9rem; }
    @media (min-width: 768px) {
      footer p {
        font-size: 0.75rem; } }
    @media (min-width: 992px) {
      footer p {
        font-size: 0.9rem; } }
  footer .submit {
    text-transform: none; }

footer ul,
footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px; }

.footer__logo {
  width: 70px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .footer__logo {
      margin-bottom: 0px;
      width: 70px; } }
  @media (min-width: 992px) {
    .footer__logo {
      margin-bottom: 0px;
      width: 80px; } }

.footer__col3 label {
  display: inline-block; }

.footer_form--text {
  padding: 5px;
  margin: 15px 0 15px 15px;
  border-radius: 0;
  border: solid 1px #7b796c;
  color: #7b796c; }

.footer_form--button {
  background-color: #7b796c;
  padding: 5px;
  border: solid 1px #7b796c;
  color: #e8e8e8; }

footer .bx {
  color: #7b796c; }

footer button .bx-chevrons-right {
  color: #fff; }

.copyright {
  background-color: #7b796c;
  padding: 20px 50px;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: space-around; }
  @media (min-width: 768px) {
    .copyright {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr; } }
  .copyright .copy,
  .copyright .mapa {
    text-align: center;
    font-size: 0.75rem; }
  @media (min-width: 768px) {
    .copyright .mapa {
      text-align: left; }
      .copyright .mapa a {
        color: #fff;
        text-decoration: none; } }

/*CARDS*/
.contenedor__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.cards__team {
  max-width: 20em;
  margin: 1em 0;
  background-color: rgba(250, 250, 250, 0.95);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .cards__team {
      margin: 1em; } }

.team__imagen {
  max-height: 20em; }
  .team__imagen img {
    object-fit: cover;
    display: block; }

.team__contenido {
  padding: 1em 1em 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column; }
  .team__contenido .team__cabecera {
    margin-bottom: 1em; }
    .team__contenido .team__cabecera .team__nombre {
      border-bottom: 1px solid rgba(0, 78, 146, 0.2);
      padding-bottom: 0.7rem;
      margin: 0;
      color: #7b796c;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      text-align: center; }
  .team__contenido .team__bio {
    font-size: 0.85em;
    line-height: 1.5;
    flex-grow: 1; }
  .team__contenido .team__date {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: 500; }
    .team__contenido .team__date p {
      padding: 0;
      margin: 0; }

.team__pie {
  background-color: #7b796c;
  color: white;
  text-align: center;
  margin-right: -1em;
  margin-left: -1em;
  margin-top: 1em;
  padding: 0.5em; }

/*image hover con caption scss*/
.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%; }
  .bg-image .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-rows: 3fr 1fr; }
  .bg-image .mask:hover {
    background-color: rgba(123, 121, 108, 0.7);
    opacity: 1;
    transition: all 0.5s ease-out; }

.mask div p {
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  text-align: center; }

.proyecto.mask div p {
  background-color: rgba(123, 121, 108, 0.8); }

.section__productos .bg-image .mask:hover {
  background-color: #7b796c78;
  opacity: 1;
  transition: all 0.5s ease-out; }

.precios {
  background-color: rgba(123, 121, 108, 0.8);
  display: flex;
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: center; }
  .precios .pesos {
    font-weight: 600;
    font-size: 1rem; }

/*OVERWRITE BOOTS**/
.sliderhr {
  object-fit: cover;
  max-height: 50vh; }

.sliderdark {
  color: #2c2c2c; }

.carousel-item .sliderindex {
  height: 100vh;
  min-height: 300px; }

#carouselindex {
  position: static; }
  #carouselindex img {
    object-fit: cover; }

#carouselindex .carousel-caption {
  background-color: rgba(255, 255, 255, 0.8); }

#carouselMitienda .carousel-caption {
  background-color: rgba(123, 121, 108, 0.7); }
  #carouselMitienda .carousel-caption h5 {
    color: #fff;
    font-weight: 500; }

.carousel-item {
  transition: transform 2s ease-in-out; }

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2s; }

.caption--center {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%; }

.caption--center .textdark {
  color: #2c2c2c; }

.modal-content h5,
.modal-content h6 {
  font-weight: 500; }

.modal-content p {
  color: #2c2c2c;
  font-weight: 400;
  font-size: .9rem;
  line-height: normal; }

#suscripcion.form-control.controlp {
  border-radius: 0; }
  #suscripcion.form-control.controlp::placeholder {
    color: #d0cfc9; }

/*cambios after scroll*/
.scrolling-active .menu {
  background-color: #7b796c;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1); }

.scrolling-active .nav a {
  color: #fff; }
