//breakpoint
$medias: (xs: 0, sm: 576px, md: 768px, lg: 992px);

@mixin medias ($size) {
  @if map-medias ($medias, $size) {
    @media (min-width: #{map-get($medias, $size)}) {
            @content;
        }
    }
}

%gridcenter {
    display: grid;
      justify-content: center;
      align-items: center;
    }
  