@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: $color-text;
  font-size: 1rem;

  @include medias(lg) {
    font-size: 1.1rem;
  }
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: $color-principal;
}

h1,
h2 {
  margin: 20px 0;

  @include medias (md) {
    margin: 40px 0 20px 0;
  }
}

h1 {
  font-size: 2rem;
}

h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: $color-principal-dark;
}

h5 {
  font-size: 1.15rem;

  @include medias(lg) {
    font-size: 1.25rem;
  }
}


img {
  max-width: 100%;
}

section p {
  padding: 10px 0;
}

section h1 {
  margin-bottom: 5rem;
}

body {
  min-height: 200vh;
}

.center--text {
  text-align: center;
}

/*HEADERS*********/
.hero__servicios,
.hero__contacto,
.hero__proyecto,
.hero__estudio,
.hero__tienda,
.hero__blog,
.hero__map {
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;

  @include medias (md) {
    align-items: center;
    justify-content: space-around;
  }
}

.hero__map {
  min-height: 200px;
  background-image: url(../img/placeholder_16.9_2.jpg);

}

.hero__servicios {
  background-image: url(../img/placeholder_16.9_2.jpg);
}

.hero__contacto {
  background-image: url(../img/placeholder_16.9_4.jpg);
}

.hero__proyecto {
  background-image: url(../img/placeholder_16.9_3.jpg);
}

.hero__estudio {
  background-image: url(../img/placeholder_16.9_0.jpg);
}

.hero__tienda {
  background-image: url(../img/placeholder_16.9_11.jpg);
}

.hero__blog {
  background-image: url(../img/placeholder_16.9_10.jpg);
}

main {
  padding: 50px;
}

@include medias(md) {
  .header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/********MOBIL BP <576px ********/

.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 150px;
  padding: 30px;

  @include medias(md) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    grid-column-start: 2;
  }
}

.logo {
  display: none;

  @include medias(md) {
    width: 70px;
  }

  @include medias(lg) {
    width: 100px;
  }
}

.logoham {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 16vh;
  margin-left: 1em;

  @include medias(md) {
    display: none;
  }
}

.logoLink {
  @include medias(md) {
    display: none;
  }
}

.nav .logo {
  @include medias(md) {
    padding: 0;
    display: block;
  }
}

.menu {
  display: block;
  height: 16vh;
  background-color: rgba(95, 96, 82, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 999;

  @include medias(md) {
    display: flex;
    justify-content: space-between;
    background-color: rgba(95, 96, 82, 0.8);
    align-items: center;
    padding-right: 50px;
    height: 70px;
    flex-wrap: wrap;
  }

  @include medias(lg) {
    height: 100px;
  }
}

.menu label {
  box-sizing: border-box;
  display: inline-block;
  width: 16vh;
  height: 16vh;
  line-height: 16vh;
  color: #fff;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

/* hover hamburguesa*/
.menu input:checked~nav,
.menu label,
.menu input:checked~.nav__social {
  display: block;

  @include medias(md) {
    display: none;
  }
}

.menu label:hover {
  background: grey;
}

.menu input:checked~label {
  background: $color-principal;
}

input#hambur {
  display: none;
}

.nav,
.nav__social {
  display: none;

  @include medias(md) {
    display: flex;
  }

  ul {
    display: block;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 0;

    @include medias(md) {
      display: flex;
    }

    li {
      display: block;
      background-color: $color-principal;
      margin: 0;
      padding: 10px;
      list-style: none;
      border-bottom: 1px solid grey;
      color: #fff;

      @include medias(md) {
        display: flex;
        padding: 0;
        background: none;
        border: none;
      }

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-size: 0.8rem;
        text-transform: uppercase;
        justify-content: center;
        padding: 10px;

        @include medias(md) {
          display: flex;
          font-size: 0.9rem;
          font-weight: 400;
          height: 70px;
          align-items: center;
          transition: background-color 1s, border-bottom 1s;
        }

        @include medias(lg) {
          font-size: 1rem;
          font-weight: 400;
          height: 100px;
        }

        &:hover {
          color: #f4f3ee;
          font-weight: 400;
          height: auto;
          align-items: center;

          @include medias(md) {
            background: #f0f0f0;
            color: $color-principal;
            height: 70px;
            align-items: center;
            border-bottom: 5px solid $color-principal-dark;
          }

          @include medias(lg) {
            height: 100px;
          }
        }
      }

      .activem {
        color: #f4f3ee;

        @include medias(md) {
          background: rgba(240, 240, 240, 0.75);
          color: $color-principal;
          border-bottom: 5px solid $color-principal-dark;
        }
      }
    }
  }
}

/*hover items hamburguesa*/
.menu .nav li:hover {
  background: linear-gradient(to left, $color-principal, #6f6e63, $color-principal);
}

.section__2col {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-start;

  @include medias (md) {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 40px;
  }
}

.section__2col article {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;
  flex-wrap: wrap;

  @include medias (md) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    flex-wrap: wrap;

  }
}

.columna2 {
  flex-direction: column;
  padding: 20px 0;
  justify-content: center;

  @include medias (md) {
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }

  h3 {
    margin-bottom: 15px;
  }
}

/*seccion ancho completo*/
.section__ancho {
  background-color: rgb(232, 232, 232);
  padding: 50px 50px;
  margin: 50px -50px;

  article {
    @extend %gridcenter;
    grid-template-columns: 1fr;

    @include medias (md) {
      grid-template-columns: 1fr 1fr;
      align-items: flex-start
    }

    @include medias (lg) {
      align-items: center
    }
  }
}

.section__contacto {
  @extend %gridcenter;
  grid-template-columns: 1fr;

  @include medias (md) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
}

.bx {
  color: #fff;
  padding: 0 5px;
}

/*un guiño en Aqua para Flor*/
.bx:hover {
  color: aqua;
}

/*BOTONES*/
button {
  border: none;
}

.boton,
a.boton {
  background-color: $color-principal;
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 0.8rem;
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  transition: all 0.8s;

  &.botonlinea {
    background-color: #fff;
    border: $color-principal 1px solid;
    color: $color-principal;
    font-weight: 400;
  }

  &:hover {
    background-color: $color-principal-dark;
    color: #fff;
  }

  @include medias (md) {
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.section__servicio--boton {
  margin-top: 20px;
  margin-right: 20px;
}

/*seccion SERVICIOS*/
.section__servicio,
.section__servicio--reverse {
  @extend %gridcenter;
  grid-template-columns: 1fr;

  @include medias(md) {
    grid-template-columns: 1fr 1fr;
  }
}

@include medias(md) {
  .section__servicio--reverse .columna2 {
    order: 1;
  }

  .section__servicio--reverse .columna1 {
    order: 2;
  }

  .section__servicio img,
  .section__servicio--reverse img {
    object-fit: cover;
  }
}

/*seccion PROYECTOS- PRODUCTOS*/
.section__proyectos,
.section__productos {
  display: block;

  @include medias(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

/*PROYECTOS FOTOS*/
.filtros {
  margin: 2.5rem 0;
}

/*FORMULARIO*/
.columna2--form {
  align-items: flex-start;
  font-size: 0.9rem;
  line-height: auto;
}

.columna2--form .inputext {
  display: block;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
}

input::placeholder {
  color: lighten($color-principal, 35%);
}

.columna2--form .inputradio {
  display: inline;
  width: auto;
}

label {
  display: block;
  line-height: 25px;
}

.submit {
  padding: 5px 10px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  background-color: $color-principal;
}

/*FOOTER*/
footer {
  background-color: #e8e8e8;
  justify-content: center;
  align-items: center;

  @include medias (md) {
    justify-content: space-between;
  }

  p {
    margin: 0;
    font-size: 0.9rem;

    @include medias (md) {
      font-size: 0.75rem;
    }

    @include medias (lg) {
      font-size: 0.9rem;
    }
  }

  .submit {
    text-transform: none;
  }
}

footer ul,
footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
}

.footer__logo {
  width: 70px;
  margin-bottom: 20px;

  @include medias (md) {
    margin-bottom: 0px;
    width: 70px;
  }

  @include medias (lg) {
    margin-bottom: 0px;
    width: 80px;
  }
}

.footer__col3 label {
  display: inline-block;
}

.footer_form--text {
  padding: 5px;
  margin: 15px 0 15px 15px;
  border-radius: 0;
  border: solid 1px $color-principal;
  color: $color-principal;
}

.footer_form--button {
  background-color: $color-principal;
  padding: 5px;
  border: solid 1px $color-principal;
  color: #e8e8e8;
}

footer .bx {
  color: $color-principal;
}

footer button .bx-chevrons-right {
  color: #fff;
}

.copyright {
  background-color: $color-principal;
  padding: 20px 50px;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: space-around;

  @include medias(md) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .copy,
  .mapa {
    text-align: center;
    font-size: 0.75rem;
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  @include medias(md) {
    .mapa {
      text-align: left;

    }
  }
}

/*CARDS*/
.contenedor__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cards__team {
  max-width: 20em;
  margin: 1em 0;
  background-color: rgba(250, 250, 250, 0.95);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;

  @include medias(md) {
    margin: 1em;
  }
}

.team__imagen {
  max-height: 20em;

  img {
    object-fit: cover;
    display: block;
  }
}

.team__contenido {
  padding: 1em 1em 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .team__cabecera {
    margin-bottom: 1em;

    .team__nombre {
      border-bottom: 1px solid rgba(0, 78, 146, 0.2);
      padding-bottom: 0.7em;
      margin: 0;
      color: $color-principal;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      text-align: center;
    }
  }

  .team__bio {
    font-size: 0.9rem;
    line-height: 1.5;
    flex-grow: 1;
  }

  .team__date {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 500;
    .bx {
      color: $color-principal;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
}

section.tendencias .team__contenido .team__cabecera .team__nombre {
  text-align: left;
  font-size: 1.3rem;
}

.team__pie {
  background-color: $color-principal;
  color: white;
  text-align: center;
  margin-right: -1em;
  margin-left: -1em;
  margin-top: 1em;
  padding: 0.5em;
}

/*image hover con caption scss*/
.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-rows: 3fr 1fr;
  }

  .mask:hover {
    background-color: rgba($color: $color-principal, $alpha: 0.7);
    opacity: 1;
    transition: all 0.5s ease-out;
  }
}

.mask div p {
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.proyecto.mask div p {
  background-color: rgba($color: $color-principal, $alpha: 0.8);
}

.section__productos .bg-image .mask:hover {
  background-color: #7b796c78;
  opacity: 1;
  transition: all 0.5s ease-out;
}

.precios {
  background-color: rgba($color: $color-principal, $alpha: 0.8);
  display: flex;
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: center;

  .pesos {
    font-weight: 600;
    font-size: 1rem;
  }
}

/*OVERWRITE BOOTS**/
.sliderhr {
  object-fit: cover;
  max-height: 50vh;
}

.sliderdark {
  color: $color-text;
}

.carousel-item .sliderindex {
  height: 100vh;
  min-height: 300px;
}

#carouselindex {
  position: static;

  img {
    object-fit: cover;
  }
}

#carouselindex .carousel-caption {
  background-color: rgba(255, 255, 255, 0.85);
}

#carouselMitienda .carousel-caption {
  background-color: rgba($color: $color-principal, $alpha: 0.7);

  h5 {
    color: #fff;
    font-weight: 500;
  }
}

.carousel-item {
  transition: transform 2s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 2s;
}

.caption--center {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
}

.caption--center .textdark {
  color: $color-text;
}

.modal-content {

  h5,
  h6 {
    font-weight: 500;
  }

  p {
    color: $color-text;
    font-weight: 400;
    font-size: .9rem;
    line-height: normal;
    padding: 0;
  }
}

#suscripcion.form-control.controlp {
  border-radius: 0;

  &::placeholder {
    color: lighten($color-principal, 35%);
  }
}

/*cambios after scroll*/
.scrolling-active .menu {
  background-color: $color-principal;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrolling-active .nav a {
  color: #fff;
}